.bg{
    background-image: url("../../../public/main\ 2.jpg");
    height: 80vh;
    width: auto;
    background-position: center;
    object-fit: cover;
    background-size: cover;
    

}

.position{
    position: absolute;
    bottom: 100px;
    left: 200px;
}