.bg{
    height: 80vh;
    width: auto;
    background-position: center;
    object-fit: cover;
    background-size: cover;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../../../public/main\ 2.jpg");
    

}

.position{

    position: absolute;
    bottom: 100px;
    left: 200px;
}